@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;600;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'IBM Plex Sans', 'Georgia', sans-serif;
  font-size: 16px;
  line-height: 24px;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

a:focus {
  border: 2px solid blue;
}

a:hover {
  text-decoration: underline;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.main {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.main-photo {
  border: 1px solid rgb(201, 201, 201, .3);
  border-radius: 50%;
}

.main__text {
  width: 500px;
  margin-left: 20px;

  font-size:20px;
  line-height: 28px;
  font-weight: 400;
}

.main-nav {
  width: 400px;
  display: flex;
  justify-content: center;
}

.main-nav__list {
  margin: 0;
  padding: 0;
}

.main-nav__list-item {
  width: 130px;
  height: 56px;
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
}

@media screen and (min-width: 375px) and (max-width: 578px) {
  .container {
    width: 300px;
  }

  .main {
    display: block;
  }

  .main__text {
    width: 300px;
    margin-left: 10px;
  }

  .main-nav {
    width: auto;
  }

  .main-nav__list {
    display: flex;
    margin-top: 15px;
    width: 330px;
  }
}

@media screen and (min-width: 579px) and (max-width: 768px) {
  .container {
    width: 560px;
  }
  .main {
    display: block;
  }

  .main-photo {
    margin-left: 120px;
  }

  .main__text {
    margin-top: 40px;
  }

  .main-nav {
    width: auto;
  }

  .main-nav__list {
    display: flex;
  }
}

@media screen and (min-width: 769px) and (max-width: 1000px) {
  .container {
    width: 760px;
  }
  .main {
    display: block;
    text-align: center;
  }
  .main__text {
    width: auto;
    text-align: left;
    margin-left: 30px;
  }

  .main-nav {
    width: auto;
  }

  .main-nav__list {
    display: flex;
  }
}

@media screen and (min-width: 1001px) and (max-width: 1200px) {
  .container {
    width: 1000px
  }
  .main-nav {
    justify-content: flex-end;
  }
}
